@{
    ViewData["Title"] = "Logout";
}
<body style="background-color:pink">

</br>
</br>
</br>
</br>

<center><p><strong>Logged Out Sucessfully</strong></p></center>
<center><p><strong>THANK YOU </strong></p><img class="profile-img-card" src="~/assets\img\Shop.png" /></center>
</body>
